*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    height: 150px;
    background-color: gray;
    border: solid 3px;
}

nav{
    margin-top: 75px;
    height: 75px;
    
    text-align: center;
    padding-top: 25px;
}

nav a{
    text-decoration: none;
    color: white;
    margin-right: 10px;
}

nav a:hover{
    background-color: rgb(109, 108, 108);
    color: rgb(226, 224, 224);
}


header h1{
    padding: 20px;
    
    float: left;
    height: 75px;
    
}


#logo{
    float: right;
    margin: 30px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

body{
    height: auto;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: gray;
}

table {
        
        border-collapse: collapse;
    }

    th {
        background-color: bisque;

    }

    td {
        background-color: rgb(248, 238, 225);
    }

    th, td {
        border: 2px solid black;
    }

    body {
        background-color: rgb(203, 196, 171);
    }