 body {
            text-align: center;
            background-color: rgb(181, 139, 100);
            
        }

        img {
            height: auto;
            width: auto;
        }

        nav {
            text-align: left;
            
            
            background-color: bisque;
            padding: 30px;
            margin-bottom: 0%;
            padding-left: 20%;
            padding-right: 20%;
        }

        div {
            padding-top: 5%;
            background-color: burlywood;
            margin-top: 0%;
        }