
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    height: 150px;
    background-color: gray;
    border: solid 3px;
}

nav{
    height: 100%;
    text-align: center;
    padding-top: 25px;
    
}

li{
    list-style: none;
    padding: 10px;
}

a{
    text-decoration: none;
    color: white;
    display: block;
    padding: 10px;
}

a:hover{
    background-color: rgb(109, 108, 108);
    color: rgb(226, 224, 224);
}


header h1{
    padding: 20px;
    float: left;
    height: 75px;
    
}

#logo{
    float: right;
    margin: 30px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: gray;
}

body {
    height: auto;
    text-align: center;
    
            
}

img {
height: auto;
width: auto;

}

main{
    width: 100%;
    background-color: red;
    height: 800px;
    
}



section{
    width: 80%;
    background-color: green;
    float: left;
    height: 100%;
    
}

aside{
    width: 20%;
    background-color: blue;
    float: left;
    height: 50%;
    
}

aside div{
    background-color: tomato;
    height: 100%;
    
}



        


